.textinput{
    margin-top: 2rem;
}

.btn {
    width: 100%;
    background: rgb(115, 116, 117) !important;
    margin-top: 1.5rem !important;
    border-radius: 20px !important;
    position: absolute !important;
    bottom: 0 !important;
}