.page {
  border: 1rem solid white;
  margin: auto;
  margin-top: 6%;
  width: 30rem;
  height: 37rem;
  align-items: center;
  box-shadow: 0rem 0rem 6rem;
  border-radius: 3%;
  font-size: smaller;
}

.body {
  border: 1rem solid white;
  margin: auto;
  margin-top: -1%;
  width: 20rem;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
}

.Icon {
  margin-top: 1%;
  display: flex;
  gap: 13rem;
  font-size: 1.4rem;
}
.content3 {
  border-bottom: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  margin-bottom: 1rem;
  & > span {
    position: absolute;
    left: calc(20% 1.5px);
    top: -13.5px;
    background-color: white;
    padding: 0 0.5rem;
  }
}
