.page {
  border: 1rem solid white;
  margin: auto;
  margin-top: 6%;
  width: 30rem;
  height: 37rem;
  align-items: center;
  box-shadow: 0rem 0rem 6rem;
  border-radius: 3%;
  font-size: smaller;
}
.body {
  border: 1rem solid white;
  margin: auto;
  margin-top: -1%;
  width: 20rem;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
}

.Icon {
  margin-top: 1%;
  display: flex;
  gap: 13rem;
  font-size: 1.4rem;
}

.textinput {
  margin-top: 2%;
}

.password{
  margin-top: 20%;
  display: flex;
  align-items: start;
}

.btn {
  width: 100%;
  background: rgb(115, 116, 117) !important;
  margin-top: 5%;
  border-radius: 20px !important;
}
