.Details {
  border: 1rem solid white;
  margin: auto;
  margin-top: 6%;
  width: 30rem;
  height: 37rem;
  text-align: center;
  box-shadow: 0rem 0rem 6rem;
  border-radius: 3%;
  font-size: small;
}

.Icon {
  margin-top: 1%;
  display: flex;
  gap: 13rem;
  font-size: 1.4rem;
}

.emailtoggle {
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  padding-right: 3rem;
}

.Name {
  border: 1rem solid white;
  margin: auto;
  margin-top: -2%;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

.btn {
  margin-top: 1rem;
}
