body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

/* .App {
  border: 1rem solid whitesmoke;
  margin: auto;
  margin-top: 10%;
  width: 30rem;
  height: 40rem;
  text-align: center;
  box-shadow: 0rem 0rem 6rem;
  border-radius: 10%;
} */
